body {
    background-color: #F3F3F3;
    margin: 0;
}

header {
    margin: 0;
    background-color: #383838;
    color: white;
    padding: 40px 15% 30px 15%;
}

header > h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

#spinner {
    text-align: -webkit-center;
    margin-top: 50px;
}

.element-container {
    margin: 0 15%;
    padding: 0 5%;
    background-color: white;
}

@media screen and (max-width: 992px) {
    .element-container {
        margin: 0 5%;
        padding: 0 3%;
        background-color: white;
    }
}

@media screen and (max-width: 600px) {
    .element-container {
        margin: 0 2%;
        padding: 0 1%;
        background-color: white;
    }
}

.element-date {
    display: flex;
    flex-flow: column;
    padding: 0 10%;
}

@media screen and (max-width: 992px) {
    .element-date {
        display: flex;
        flex-flow: column;
        padding: 0 7%;
    }
}

@media screen and (max-width: 600px) {
    .element-date {
        display: flex;
        flex-flow: column;
        padding: 0 5%;
    }
}


.element-date-tweets {
    display: flex;
    flex-flow: column;
}

.user-tweets {
    display: flex;
    width: 40%;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    border-right: 1px solid lightgrey;
    margin: 5px 0;
    padding-right: 16px;
}

.official-tweets {
    width: 45%;
    flex-wrap: wrap;
    border-left: 1em solid;
    border-left-color: rgba(24, 120, 169,0.7);
}

.element-hour {
    display: flex;
    flex-flow: row;
    padding-bottom: 1px;
}

.element {
    width: 1em;
    height: 1em;
    margin: 0.2em;
    cursor:pointer;
}

.element-metro-issue {
    background-color: #DC3545;
}

.element-metro-complaint {
    background-color: #E2DD4D
}

.element-date-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 18px 1px 10px 0;
    border-right: 3px dashed;
    border-right-color: rgba(24, 120, 169,0.7);
    width: 56%;
    border-top: 1px solid lightgray;
}

.element-hour-title {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 15%;
    text-align: right;
    align-self: center;
    padding-right: 2%;
}