body {
    background-color: #F3F3F3;
    margin: 0;
}

header {
    margin: 0;
    background-color: #383838;
    color: white;
    padding: 40px 15% 30px 15%;
}

.box {
    margin: 1em 15% 1em 15%;
    padding: 2em 5%;
    background-color: white;
}

@media screen and (max-width: 992px) {
    .box {
        margin: 1em 5% 1em 5%;
        padding: 2em 3%;
        background-color: white;
    }
}

@media screen and (max-width: 600px) {
    .box {
        margin: 1em 2% 1em 2%;
        padding: 2em 1%;
        background-color: white;
    }
}

header > h1 {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 400;
}

.info {
    display: flex;
    align-items: center;
}

.info-title {
    padding-right: 4em;
    border-right: 0.01em solid grey;
    height: 3em;
    display: flex;
    align-items: center;
    margin-right: 1em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 18px;
}

.info-content {
    display: flex;
    flex-flow: column;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.info-content > div {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.info-content-paragraph {
    margin-left: 0.4em;
}

#spinner {
    text-align: -webkit-center;
    margin-top: 50px;
}

.element-container {
}

.element-date {
    display: flex;
    flex-flow: column;
    padding: 0 10%;
}

@media screen and (max-width: 992px) {
    .element-date {
        display: flex;
        flex-flow: column;
        padding: 0 7%;
    }
}

@media screen and (max-width: 600px) {
    .element-date {
        display: flex;
        flex-flow: column;
        padding: 0 5%;
    }
}


.element-date-tweets {
    display: flex;
    flex-flow: column;
}

.user-tweets {
    display: flex;
    width: 40%;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    border-right: 1px solid lightgrey;
    margin: 5px 0;
    padding-right: 16px;
}

.official-tweets {
    width: 45%;
    flex-wrap: wrap;
    border-left: 0.5em solid;
    border-left-color: rgba(24, 120, 169,0.7);
}

.element-hour {
    display: flex;
    flex-flow: row;
    padding-bottom: 1px;
}

.element {
    width: 1em;
    height: 1em;
    margin: 0.2em;
    cursor:pointer;
}

@media screen and (max-width: 992px) {
    .element {
        width: 3em;
        height: 3em;
        margin: 0.2em;
    }
}

@media screen and (max-width: 600px) {
    .element {
        width: 3em;
        height: 3em;
        margin: 0.2em;
    }
}

.element-metro-issue {
    background-color: #DC3545;
}

.element-metro-complaint {
    background-color: #E2DD4D
}

.element-date-title {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 18px 3px 10px 0;
    border-right: 3px dashed;
    border-right-color: rgba(24, 120, 169,0.7);
    width: 56%;
    font-size: 18px;
    text-align: right;
}

.element-date-title {
    border-top: 1px solid lightgray;
}

.element-date:first-child > .element-date-title {
    border-top: 0px;
}

.element-hour-title {
    margin: 0;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 15%;
    text-align: right;
    align-self: center;
    padding-right: 2%;
}

@media screen and (max-width: 992px) {
    .element-date-title {
        font-size: 2em;
    }
    .element-hour-title {
        font-size: 2em;
    }
}

@media screen and (max-width: 600px) {
    .element-date-title {
        font-size: 2em;
    }
    .element-hour-title {
        font-size: 2em;
    }
}